* {
    font-size: 1em;
    margin:0;
    padding:0;
    line-height: 1;
    list-style: none;
    font-weight: 300;
    text-decoration: none;
    text-transform: lowercase;
}


body {
    font-size:100%;
    font-family: pt-sans, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}




.sensitive-container {
    font-size:100%;
    font-family: pt-sans, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.sensitive-hgroup {
    display: grid;
    grid-template-rows: 18% 57% 20% 5%;
    gap:0em;
}

.sensitive-h1 { 
    font-size:5.25em;
    font-family:abhaya-libre, serif;
    font-weight:700;
    letter-spacing: 1px;
}

.sensitive-h2 {
    color:#3f8c9d;
    font-size:1.5em;
    letter-spacing: 1px;
}

.sensitive-h3 {
    color: #b27772;
    font-size:1.8em;
    letter-spacing: 1px;
    
}

.sensitive-h4 {
    font-weight: 700;
    font-size: 1.25em;
}

.sensitive-date {
    display: block;
    font-weight:inherit;
    line-height: 1.5;;
}

.sensitive-p {
    font-size: 1.33em;
    line-height: 1.25;;
}

.sensitive-banner-img {
    width: 100%;
}


.sensitive-banner-text {
    display: grid;
    gap:1em;
    margin:2em 0em 2em 2em;
    grid-area: bannertext;

   
}

.sensitive-banner-image {
    grid-area: bannerimage;
}


.sensitive-cta:link, .sensitive-cta:visited, .sensitive-cta:active, .sensitive-cta:focus {
    width:60%;
    max-width:220px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:.75em;
    background-color: #76AEAD;
    border:none;
    color:white;
    font-size:1.5em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 500ms;
}

.sensitive-cta:hover {
    transition: background-color 500ms;
    background-color: #95d7d4;
    color:white;
}


@media screen and (min-width:550px) {
    .sensitive-banner-image {
        padding-left:1em;
    }

    .sensitive-banner-text {
        padding-left:8em;
    }
}

@media screen and (min-width:720px) {
    .sensitive-banner-img {
        width:90%;
    }
     
}

@media screen and (min-width:800px) {

    .sensitive-hgroup {
        display: grid;
        grid-template-rows: 18% 50% 20% 12%;
        gap:0em;
        max-height: 159px;
    }

    .sensitive-banner-img {
        width:100%;
    }

    .sensitive-banner {
        padding-right:2em;
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-areas: 'bannertext bannerimage';
        max-height: 580px;
        gap:1em;

    }

    .sensitive-banner-text {
        margin:4em 0em 3em 3em;  
        max-height: 400px;
        gap:0em;
        padding-left:0em;
    }

    .sensitive-banner-image {
        padding-top:2em;
        padding-left: 1em;  
    }

    .sensitive-cta:link, .sensitive-cta:active, .sensitive-cta:focus {
       
        padding:.5em;
    }
   
}


@media screen and (min-width:860px) {
    .sensitive-banner {
        padding-inline:2em;
    }
}




@media screen and (min-width:1024px) {


    .sensitive-banner {

        padding-inline:8%;
      
    
    
    }

    .sensitive-container {
        display: grid;
        align-content: center;
    }

}


@media screen and (min-width:1100px) {
.sensitive-date {
    display: inline;

}


.sensitive-banner {
    grid-template-columns: 45% 55%;
    gap:0;
    padding-inline:6em;
    max-width:1100px;
}

}


@media screen and (min-width:1500px) {
    
    .sensitive-banner {
        grid-template-columns: 45% 55%;
        gap:0;
        padding-inline:12em;
        overflow: hidden;
    }

    .sensitive-banner-image {
        padding-top:.5em;
    }
    
    .sensitive-banner-text {
        padding-top:.5em;
    }
    
 

}
